

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.animal-img {
  width: 450px; 
  height: 450px;
}

.animal-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;

}

.images {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}


.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;


}

.dropdown-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
}

select {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  border: white 5px solid;
  color: #fff;
  background-image: linear-gradient(to top, #ffc6ff, #ffd6a5);

}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#ffc6ff, #ffd6a5, #9bf6ff, #fdffb6, #ffadad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 24px;
  background: -webkit-linear-gradient(#ffc6ff, #ffd6a5, #9bf6ff, #fdffb6, #ffadad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: #293241;
  font-size: 20px;
}

span {
  color: #9bf6ff;
}

